container{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
}
div{
    border: solid black 2px;
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    width: 95%;
    margin: 20px;
}
h2,h1{
    margin: 20px;
}